<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.admin.config.mapper.RbacPermissionMapper">
    <resultMap id="BaseResultMap" type="com.vip.admin.config.model.domain.RbacPermission">
        <id column="id" jdbcType="INTEGER" property="id" />
    </resultMap>

    <select id="menus" resultType="com.vip.admin.config.model.vo.RbacPermissionVo">
        SELECT
        t3.id, t3.pid, t2.user_id, !ISNULL(t2.user_id) checked,
        t3.system, t4.system_name systemName,
        t3.perm_route permRoute, t3.perm_name permName,
        t3.perm_icon permIcon, t3.perm_type permType,
        t3.creator, t3.create_time createTime,
        t3.last_operator lastOperator, t3.update_time updateTime
        FROM rbac_permission t3
        LEFT JOIN rbac_system t4 ON t3.system = t4.system
        LEFT JOIN rbac_mapping_user_permission t2 ON t3.id = t2.perm_id
        LEFT JOIN rbac_user t1 ON (t1.id = t2.user_id OR t2.user_id is null)
        where t1.username = #{username,jdbcType=VARCHAR}
        <if test="system != null">
            and t3.system = #{system, jdbcType=VARCHAR}
        </if>
    </select>

</mapper>